### Build directories
/dist/
/build/
/*.egg-info/
/projects/build/
/projects/dist/
/projects/fixtures/

### IQ Waveform/Capture
*.iqw
*.wv
*.xml

### Administrative
*.pyc
*.lnk
*.spec
*.ico

### Data files
*.csv
*.xls
*.xlsx
*.pdf
*.ppt
*.pptx
